.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-color: $second-bgc;
  padding: 118px 0 118px;
  text-align: center;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 1200px) {
    padding: 200px 0 200px;
  }

    &__title {
      color: $second-title-color;
      font-size: 26px;
      line-height: 1.62;
      font-weight: 900;
      letter-spacing: 0.06em;
      text-transform: uppercase;

      max-width: 360px;
      margin: 0 auto 30px;

      @media screen and (min-width: 1200px) {
          font-size: 44px;
        line-height: 1.36;
        max-width: 696px;
      }
    }
}