 $main-bgc: #ffffff;
 $second-bgc: #2f303a;
 $third-bgc: #f5f4fa;
 $bgc-primary-button-action: #188ce8;

 $main-title-color: #212121;
 $second-title-color: #ffffff;

 $main-text-color: #757575;
 $second-text-color: #ffffff;
 $focuse-color: #2196f3;
 $footer-address-text-color: rgba(255, 255, 255, 0.6);

 $main-icon-color: #afb1b8;
 $second-icon-color: #ffffff;

 $main-form-label-color: #757575;
 $main-form-text-color: #000000;
 $modal-placeholder-text-color: rgba(117, 117, 117, 0.5);
 $modal-icons-fill-color: #000000;
 
